/* Include Source Sans Pro font */
@import url('https://fonts.googleapis.com/css?family=Source%20Sans%20Pro%3A400%2C600%7CSource%20Sans%20Pro%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Source Sans Pro', Arial, sans-serif;
    color: #FFFFFF;
}

/* ----------- HEADER ----------- */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1C1E28;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    z-index: 1000;
}

/* -- Logo -- */
.logo {
    font-size: 1.5em;
    color: #DFD2B0;
    max-height: 40px;
    padding-left: 2em;
}

.logo img {
    max-height: 50px;
    height: auto;
    width: auto;
    display: block;
}

@media (max-width: 768px) {
    .logo img {
        max-height: 40px; /* Adjust for smaller screens */
    }
}

@media (max-width: 480px) {
    .logo img {
        max-height: 30px; /* Further adjust for extra-small screens */
    }
}

/* -- Navigation -- */
nav ul {
    list-style: none;
    display: flex;
    padding-right: 2em;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 .5em;
    transition: color 0.3s;
    font-size: 20px;
    font-weight: 200;
}

nav ul li a:hover {
    color: #BE3D26;
}

/* Mobile Hamburger Nav */
#hamburger-menu {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

@media (max-width: 768px) {
    #hamburger-menu {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 35vw;
        height: 50vh;
        background-color: rgba(28, 30, 40, 0.95);
        align-items: center;
        text-align: center;
        justify-content: center;
        border: 1px solid #1C1E28;
        border-radius: 10px;
        padding: 0.5em;
        box-sizing: border-box;
        z-index: 1000;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 1em 0; /* Increased margin for easier use on mobile */
    }

    nav ul li a {
        font-size: 1.2em; /* Slightly larger font for visibility */
        padding: 0.2em 0.2em;
        text-align: center;
        display: block;
        width: 80%;
    }
}

/* ----------- Body content ----------- */
.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#home, #products, #help {
    background-color: #414F47;
}

#about, #stores {
    background-color: #1C1E28;
}

.section .content {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.section .content.single-column {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.section .left {
    flex: 1;
    padding: 0em;
    margin-right: 1em;
}

.section .right {
    flex: 1;
    padding: 0em;
}

.section .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    color: #FFFFFF;
    font-size: 46px;
    font-weight: 400;
    margin-top: .1em;
}

h2 {
    color: #DFD2B0;
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 0.5em;
}

h3 {
    color: #B9B2AA;
    font-size: 30px;
    font-weight: 400;
    margin: 0.4em 0 0.5em 0;
}

p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1em;
}

li {
    font-size: 18px; /* Font size for product links */
    margin-bottom: 0.4em;
    margin-left: 1em;
    list-style-type: none;
  }

a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
a:hover {
    color: #BE3D26; /* Hover effect */
  }

/* ----------- Page Specific Styles ----------- */
#home .left, #about .left, #stores .left, #help .left {
    display: flex;
    flex-direction: column; /* Stack the content vertically */
    align-items: left; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: left; /* Center the text */
    padding: 0em;
}


/* Ensure home image on the right section takes full width */
#home .right img, #stores .right img, #help .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#products .right img {
    height: auto;
    object-fit: cover;
}

/* ----------- mobile display Specific Styles ----------- */
@media (max-width: 768px) {
    .section {
        overflow-x: hidden;
    }
    .section .content {
        flex-direction: column;
    }

    .section .left, .section .right {
        padding: 1em;
    }

    h1, h2, h3, p, li {
        font-size: 100%;
    }

    li {
        margin-bottom: 0.75em;
    }

    /* Mobile-Specific Padding for Home Section */
    #home {
        padding-top: 80px; /* Ensure home section starts below header */
    }

    /* For all pages */
    .section .right {
        flex: 2; /* Allow the right section to take up more space */
        position: relative;
        align-items: center;
        height: 100%;
    }

    .section .right img {
        max-width: 95%;
        height: auto;
        margin: 0 auto;
        object-fit: cover; /* Ensures the image covers the space without distortion */
        overflow: hidden;
    }
}
